
<div>

<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Phoenix Dashboard
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="{{ profilePicture }}"
    />

    <h4 class="name">{{ userName }}</h4>


    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="vacancy">
      <span>Vacancies</span>
    </button>
    <button mat-button class="menu-button" routerLink="employer">
      <span>Employers</span>
    </button>
    <button mat-button class="menu-button" routerLink="jobseeker">
      <span>Job Seekers</span>
    </button>
    <button mat-button class="menu-button" routerLink="category">
      <span>Job Categories</span>
    </button>
    <button mat-button class="menu-button" routerLink="type">
      <span>Job Types</span>
    </button>
    <button mat-button class="menu-button" routerLink="modality">
      <span>Job Modalities</span>
    </button>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="edit()">
      <span>Edit Profile</span>
    </button>
    <button *ngIf="visible" mat-button class="menu-button" routerLink="admin">
      <span>Administrators</span>
    </button>
    <button mat-button class="menu-button" (click)="logout()">
      <span>Logout</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
