<div class="vacancy" >
<div class="row">
  <div class="col-sm-9">
    <input class="form-control"  [(ngModel)]="searchText" type="search" placeholder="Enter Vacancy Title" style="width: 100%;margin-bottom: 20px;background-color: rgba(255, 255, 255, 0.425);border-color: #a09b9b;border-width: 1px;">

  </div>
  <div class="col-sm-3">
    <button mat-icon-button color="primary" (click)="search(searchText)">
      <mat-icon [inline]="true" style="color: rgb(125, 128, 125);">search</mat-icon>
    </button>
  </div>


</div>
  <table class="vacancyData" mat-table [dataSource]="allVacancyData">
    <ng-container matColumnDef="vacancyNumber">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;background-color: rgb(103, 4, 122);">Number</th>
      <td mat-cell *matCellDef="let i=index">{{ i + 1 }}</td>
    </ng-container>
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;background-color: rgb(103, 4, 122);">Title</th>
      <td mat-cell *matCellDef="let job">{{ job.title }}</td>
    </ng-container>

    <!-- Employer Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;background-color: rgb(103, 4, 122);">Company</th>
      <td mat-cell *matCellDef="let job">{{ job.employer.name }}</td>
    </ng-container>

    <!-- requests Column -->
    <ng-container matColumnDef="requests">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;background-color: rgb(103, 4, 122);">Number of Requests</th>
        <td mat-cell *matCellDef="let job" style="text-align: center;">{{ job.numOfRequests }}</td>
    </ng-container>

    <!-- View Button Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef style="background-color: rgb(103, 4, 122);"></th>
      <td mat-cell *matCellDef="let job" style="text-align: center;">
        <button mat-icon-button color="primary" (click)="viewVacancy(job.id)">
          <mat-icon style="color: rgb(8, 219, 247);">visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['vacancyNumber','title', 'company', 'requests', 'view']"></tr>
    <tr mat-row *matRowDef="let job; index as i; columns: ['vacancyNumber','title','company', 'requests', 'view']"></tr>
  </table>

</div>
