<div class="employer">
  <div >
    <div class="card" >
      <div class="card-body" style="background-color: rgb(12, 12, 87)">
        <h1 class="card-title-center" style="text-align: center;">{{ userName }}</h1>
        <form (submit)="updateAdminData()" [formGroup]="updateAdmin">
          <div class="form-group">

            <div class="row" style="margin-top: 10px;">

                <div class="col">
                  <label for="userName">User Name:</label>
                </div>
                <div class="col">
                  <input  formControlName="userName" type="text" class="form-control" [(ngModel)]="userName" value="{{ userName }}" style="background-color: rgba(255, 255, 255, 0.425);">
                </div>

            </div>
            <div class="row" style="margin-top: 10px;">

              <div class="col">
                <label for="pPicture">Profile Picture:</label>
              </div>
              <div class="col">
                <input class="form-control" type="file" value="{{ profilePicture }}" name="profilePicture"  accept="image/*" (change)="changeProfilePicture($event)">
              </div>

          </div>

          <div class="row" style="margin-top: 10px;">

            <div class="col">
              <label for="email">Email Address:</label>
            </div>
            <div class="col">
              <input  formControlName="email" type="text" class="form-control" [(ngModel)]="email" value="{{ email }}" style="background-color: rgba(255, 255, 255, 0.425);">
            </div>

        </div>
        <div class="row" style="margin-top: 10px;">

          <div class="col">
            <label for="phone">Phone Number:</label>
          </div>
          <div class="col">
            <input  formControlName="phone" type="text" class="form-control" [(ngModel)]="phone" value="{{ phone }}" style="background-color: rgba(255, 255, 255, 0.425);">
          </div>

      </div>

      <div class="row" style="margin-top: 10px;" *ngIf="visible">

        <div class="col">
          <label for="userType">User Type:</label>
        </div>
        <div class="col">
          <select class="form-control"  formControlName="userType" [(ngModel)]="userType"style="background-color: rgba(255, 255, 255, 0.425);" >
            <option  value="userType" selected>{{ userType }}</option>
            <option  value="Admin" >Admin</option>
            <option  value="Super Admin" >Super Admin</option>

          </select>

        </div>

    </div>


            <div class="row" style="margin-top: 10px;text-align: center;">
              <div class="form-group">
                <button type="submit" class="btn btn-success" >UPDATE</button>
              </div>
            </div>

          </div>

        </form>
      </div>
    </div>
  </div>
  </div>
